body{
    background-color: #ddbea9;
    font-family: 'Nunito', sans-serif;
}


.navbar-brand{
    font-size: 1.5em;
    
}


.pink{
    color:#118ab2
}



.navbar{
    background-color: red;
}


@media(min-width:768px){
    .pink{
        font-size: 1.2em;
    }
}

@media(min-width:992px){
    .pink{
        font-size: 1.2em;
    }
}